{% extends 'base.html' %}

{% block content %}


<main class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center display-3 py-5">{{ titulo }}</h1>
        </div>

        <div class="col-md-6 offset-md-3">
           
            <ul class="list-group">
                {% for actividad in tareas %}
                <a class="list-group-item" href="{% url 'detalles_tareas' actividad.id %}">
                        <header class="d-flex justify-content-between">
                        {% if actividad.importante %}
                            
                            <h1 class="fw-bold text-success">{{actividad.titulo}}</h1>
                            
                        {% else %}
                            
                            <h1 class="fw-bold">{{actividad.titulo}}</h1>
                            
                        {% endif %}
                         <p>{{actividad.user.username}}</p>
                        </header>
                        <p>{{actividad.descripcion}}</p>
                        
                        <p>{{actividad.f_completada|date:'M j Y:i'}}</p>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}